
#root{

    background-color: #EBECED;
    color: #2E323C ;
}

.navbar {
    background-color: #171A21;
    color: #EBECED
}
.footer {
    background-color: #171A21;
    color: #EBECED
}
.profile {
    border-style: none;
    border-width: 10px;
    border-color: #494D5F;
    
}
.navbarCustomText {
    font-family: 'Lora';
    padding-left: 40px;
    padding-top: 40px;
  }

.nameCustomText {
   
    font-family: 'Dancing Script';
    font-size: 75px;
    color: #7A93AC;
    
}

.glow-text {
    text-shadow: 0 0 5px #AFB3F7;
  }
/* #F9F9F9 #2E323C charcoal #D0BDF4 light #EBECED whitewash #A2AAB0 french blue*/
