
#root{

    background-color: #EBECED;
    color: #2E323C ;
}

.navbar {
    background-color: #171A21;
    color: #EBECED
}
.footer {
    background-color: #171A21;
    color: #EBECED
}
.profile {
    border-style: solid;
    border-width: 5px;
    border-color: #494D5F;
}

/* #F9F9F9 #2E323C charcoal #D0BDF4 light #EBECED whitewash #A2AAB0 french blue*/
